<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Form Utilizadors</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{save(page=${page}, keyword=${keyword})}">
            <div>
                <label>ID :</label>
                <label th:text="${utilizador.idUtilizador}"></label>
                <input class="form-control" type="hidden" name="id" th:value="${utilizador.idUtilizador}">
            </div>
            <div>
                <label for="username">Username</label>
                <input id="username" class="form-control" type="text" name="username" th:value="${utilizador.username}">
                <span class="text-danger" th:errors="${utilizador.username}"></span>
            </div>
            <!--<div>
                <label>Username</label>
                <input class="form-control" type="text" name="username" th:value="${utilizador.username}">
                <span th:errors="${utilizador.username}"></span>
            </div>-->
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>


</body>
</html>