<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="homePage"
>
<head>
    <meta charset="UTF-8">
    <title>Adicionar Encomenda</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content">

    <div class="container mt-5">
        <form class="row g-3" th:action="@{/encomendas/addEncomenda}" method="post" th:object="${roupaDasEncomendas}">
            <div class="row border-bottom border-danger rounded-5 p-3 bg-white shadow box-area">
                <div class="text-center mb-2">
                    <h4>Nova Encomenda</h4>
                </div>
                <div class="form-group col-6 mb-4">
                    <label for="tipoRoupa">Tipo de Roupa :</label>
                    <select class="form-control" name="tipoRoupa" id="tipoRoupa" th:field="*{tipoRoupa}">
                        <option th:each="tipoRoupa : ${T(com.example.projeto2springwebmvc.models.enums.TipoRoupa).values()}"
                                th:value="${tipoRoupa}" th:text="${tipoRoupa}"></option>
                    </select>
                </div>
                <div class="form-group col-6 mb-3">
                    <label for="tamanhoRoupa">Tamanho de Roupa :</label>
                    <select class="form-control" name="tamanhoRoupa" id="tamanhoRoupa" th:field="*{tamanhoRoupa}">
                        <option th:each="tamanhoRoupa : ${T(com.example.projeto2springwebmvc.models.enums.TamanhoRoupa).values()}"
                                th:value="${tamanhoRoupa}" th:text="${tamanhoRoupa}"></option>
                    </select>
                </div>
                <!--<div th:object="${encomenda}">
                    <div class="form-floating col-4 mb-3" th:object="${encomenda}">
                        <input type="date" class="form-control" id="dataDoacao"
                               placeholder="Enter with your Data da Doação" th:field="*{dataDePedido}">
                        <label for="dataDoacao">Data da Doação</label>
                    </div>
                </div>-->
                <!--<div th:object="linhaEncomenda">-->
                <div class="form-floating col-3 mb-3" th:object="${linhaEncomenda}">
                    <input type="number" class="form-control" id="nPorta" placeholder="Enter with your Número de Porta"
                           th:field="*{quantidade}">
                    <label for="nPorta">Quantidade</label>
                </div>
                <!--</div>-->
                <div class="form-floating mt-4 text-center">
                    <button class="btn btn-primary m-2" type="submit">Adicionar</button>
                    <a class="btn btn-secondary m-2" th:href="@{/encomendas}">Voltar</a>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>