<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
    <!--<link rel="stylesheet" href="style/estilo.css">-->
</head>
<body class="d-flex flex-column min-vh-100">

<!--fixed-top-->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" alt="logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/homePage}">HomePage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/doacoes}">Doações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/encomendas}">Encomendas</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        [Username]
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{/login}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section layout:fragment="content">

</section>

<footer class="mt-auto bg-light text-center text-lg-start">
    <!--style="background-color: rgba(0,0,0,0.2);"-->
    <div class="text-center p-3">
        © 2023 Copyright:
        <a class="text-dark" th:href="@{/homePage}" style="text-decoration: none">Delevery Donation</a>
    </div>
</footer>

</body>
</html>