<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <form class="row g-3" method="post" action="#">
        <div class="row border-bottom border-danger rounded-5 p-3 bg-white shadow box-area">
            <div class="text-center">
                <img src="images/logo.png" class="img-fluid" height="109" width="222" alt="logo">
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="text" class="form-control" id="username" placeholder="Enter with your Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating col-8 mb-3">
                <input type="email" class="form-control" id="email" placeholder="Enter with your Email">
                <label for="email">Email</label>
            </div>
            <div class="form-floating col-6 mb-3">
                <input type="password" class="form-control" id="password" placeholder="Enter with your Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating col-6 mb-3">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="form-floating col-8 mb-3">
                <input type="text" class="form-control" id="nome" placeholder="Enter with your Nome">
                <label for="nome">Nome</label>
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="date" class="form-control" id="dataNascimento" placeholder="Enter with your Data de Nascimento">
                <label for="dataNascimento">Data de Nascimento</label>
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="number" class="form-control" id="nif" placeholder="Enter with your NIF">
                <label for="nif">NIF</label>
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="number" class="form-control" id="NCC" placeholder="Enter with your NCC">
                <label for="NCC">NCC</label>
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="number" class="form-control" id="contacto" placeholder="Enter with your Contacto">
                <label for="contacto">Contacto</label>
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="text" class="form-control" id="localidade" placeholder="Enter with your Localidade">
                <label for="localidade">Localidade</label>
            </div>
            <div class="form-floating col-8 mb-3">
                <input type="text" class="form-control" id="rua" placeholder="Enter with your Rua">
                <label for="rua">Rua</label>
            </div>
            <div class="form-floating col-6 mb-3">
                <input type="text" class="form-control" id="cidade" placeholder="Enter with your Cidade">
                <label for="cidade">Cidade</label>
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="text" class="form-control" id="codPostal" placeholder="Enter with your Código Postal">
                <label for="codPostal">Código Postal</label>
            </div>
            <div class="form-floating col-2 mb-3">
                <input type="number" class="form-control" id="nPorta" placeholder="Enter with your Número de Porta">
                <label for="nPorta">Número de Porta</label>
            </div>
            <div class="form-floating mt-4 text-center">
                <button class="btn btn-primary" type="submit">Entrar</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>