<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <style>
        body {
            background-image: url(/images/clothes.png);
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <form class="row g-3" th:action="@{/registar}" method="post" th:object="${utilizador}">
        <div class="row border border-danger rounded-5 p-3 bg-white shadow box-area">
            <div class="text-center mb-3">
                <img src="/images/logo.png" alt="Logo" class="img-thumbnail img-fluid"/>
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="text" class="form-control" id="username" placeholder="Enter with your Username"
                       th:field="*{username}" required minlength="4" maxlength="30">
                <label for="username">Username</label>
            </div>
            <div class="form-floating col-8 mb-3">
                <input type="email" class="form-control" id="email" placeholder="Enter with your Email"
                       th:field="*{email}" required>
                <label for="email">Email</label>
            </div>
            <div class="form-floating col-6 mb-3">
                <input type="password" class="form-control" id="password" placeholder="Enter with your Password"
                       th:field="*{password}" required>
                <label for="password">Password</label>
            </div>
            <div class="form-floating col-6 mb-3">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                       required>
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="form-floating col-8 mb-3">
                <input type="text" class="form-control" id="nome" placeholder="Enter with your Nome"
                       th:field="*{nome}" required>
                <label for="nome">Nome</label>
            </div>
            <div class="form-floating col-4 mb-3">
                <input type="number" class="form-control" id="contacto" placeholder="Enter with your Contacto"
                       th:field="*{contacto}" minlength="9" required>
                <label for="contacto">Contacto</label>
            </div>
            <div class="form-floating col-6 mb-3">
                <input type="number" class="form-control" id="nif" placeholder="Enter with your NIF"
                       th:field="*{nif}" minlength="9" required>
                <label for="nif">NIF</label>
            </div>
            <div class="form-floating col-6 mb-3">
                <input type="number" class="form-control" id="NCC" placeholder="Enter with your NCC"
                       th:field="*{numeroCc}" minlength="9" required>
                <label for="NCC">NCC</label>
            </div>
            <div th:object="${localizacao}" class="row">
                <div class="form-floating col-4 mb-3">
                    <input type="text" class="form-control" id="codPostal" pattern="[0-9]{4}-[0-9]{3}" placeholder="Enter with your Código Postal"
                           th:field="*{codigoPostal}" required maxlength="8">
                    <label for="codPostal">Código Postal</label>
                </div>
                <div class="form-floating col-8 mb-3">
                    <input type="text" class="form-control" id="localidade" placeholder="Enter with your Localidade"
                           th:field="*{localidade}" required>
                    <label for="localidade">Localidade</label>
                </div>
                <div class="form-floating col-8 mb-3">
                    <input type="text" class="form-control" id="rua" placeholder="Enter with your Morada"
                           th:field="*{rua}" required>
                    <label for="rua">Morada</label>
                </div>
                <div class="form-floating col-4 mb-3">
                    <input type="number" class="form-control" id="nPorta" placeholder="Enter with your Número de Porta"
                           th:field="*{numeroPorta}" required>
                    <label for="nPorta">Número de Porta</label>
                </div>
            </div>
            <div class="form-floating mt-4 text-center">
                <button class="btn btn-primary" type="submit">Registar</button>
            </div>
            <div class="form-floating mt-3 text-center">
                <a class="link-primary" th:href="@{/login}" style="text-decoration: none">Já estou registado! Realizar
                    Login Aqui! </a>
            </div>
        </div>
    </form>
</div>

</body>
</html>