<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="homePage"
>
<head>
    <meta charset="UTF-8">
    <title>HomePage Stock</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content">

    <div class="container m-3">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div th:each="r : ${listaRoupas}">
                <div class="col">
                    <div class="card h-100">
                        <img th:src="${r.imageSrc}" class="card-img-top" alt="Imagem Associada à Roupa" width="100" height="250">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${r.tipoRoupa}"></h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${r.categoriaRoupa}"></h6>
                            <p class="card-text">Tamanho : <span th:text="${r.tamanhoRoupa}"></span></p>
                            <p class="card-text">Stock : <span th:text="${r.stock}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>